<div class="container">
  <div class="content">
    <div class="row">
      <br><br>
      <div class="span8 offset2">
	
        <h1>The Team</h1><hr>
        <div>
	      <h2>Karn Saroya</h2>
	      <div class="row">
		    <div class="span3"> <!-- :size => "260x200"-->
		      <%= image_tag "team/karn_saroya.jpeg", :alt => "karn_saroya" %>
		    </div>
		    <div class='span4 offset-2'>
		    <strong>Business development and strategy, investor relations</strong>
			<hr>
			<p>Former consultant DMASL, intern Fairhaven Capital, Consultant with Oliver Wyman’s financial services practice, BComm (Queen’s University), MFin (MIT), Fulbright scholar</p>
            </div>		    
		  </div><!--/row-->
	    </div>
	
	    <br>
		<div>
	      <h2>Natalie Gray</h2>
	      <div class="row">
		    <div class="span3">
			  <%= image_tag "team/natalie_gray.jpeg", :alt => "natalie_gray" %>
		    </div>
		    <div class='span4 offset-2'>
			<strong>Business development and strategy, operations </strong>
			<hr>
			<p>Former Marketing Coordinator at Rush Communications in NYC for fashion and hip hop mogul Russell Simmons, MA Marketing (NYU), BComm and BA Math (Queen’s University)</p>
            </div>		    
		  </div><!--/row-->
	    </div>
	    
	    <br>
	    <div>
	      <h2>Anand Dhillon</h2>
	      <div class="row">
		    <div class="span3">
		      <%= image_tag "team/anand_dhillon.jpeg", :alt => "anand_shillon" %>
		    </div>
		    <div class='span4 offset-2'>
			<strong>Development and technical strategy implementation</strong>
			<hr>
			<p>Former product launch manager with Marketing Incubator Inc., Founder Wisdom Health Coaching,
				BASc Engineering Science (University of Toronto)</p>
            </div>		    
		  </div><!--/row-->
	    </div>
	
		<br><br><br>
		<div>
	      <h1>Our Advisors</h1><hr>
		  
		  <div><!--advisor-->
	        <div class="row">
		      <div class="span8"><h2>Glen Farraye</h2></div>
		      <div class="span3">
		         <%= image_tag "advisors/glen_farraye.jpg", :size => "340x240", :alt => "glen_farraye" %>
			  </div>
		      <div class='span4 offset-2'>
		        <p><strong>President<br>
				Russell Simmons Design Group</strong><br><br>

				Glen is the President of Simmons Design Group and has over 30 years of experience in the retail and fashion industries. Over the course of his career he has held executive positions with major brands such as Quiksilver, Tommy Bahama, Pony, and Kellwood Company. Glen is currently launching a set of urban fashion lines with Russell Simmons that cater to the mature hip-hop enthusiast, available at Macy’s this fall. As a veteran of the fashion industry Glen brings critical operational insight to the AIS team, and has been instrumental in helping to socialize our product within his extensive network.
				</p>
		      </div><!--/span4-->
		    </div><!--/row-->
		  </div><!--/advisor-->
		
		  <br>
		  <div><!--advisor-->
	        <div class="row">
		      <div class="span8"><h2>Myorr Janha</h2></div>
		      <div class="span3">
		        <%= image_tag "advisors/myorr_jauha.jpg", :size => "340x240", :alt => "myorr_jauha" %>
			  </div>
		      <div class='span4 offset-2'>
		        <p><strong>Senior VP, Marketing<br>
				Rush Communications</strong><br><br>

				Myorr is the SVP of Marketing at Rush Communications and its fashion portfolio company the Simmons Design Group. He has over 20 years of experience in the entertainment and fashion industries and was part of the team that brought the modern day hip-hop movement of visionary Russell Simmons to the forefront of American culture. Prior to his current role, Myorr worked with Russell to pioneer the breakthrough clothing lines Phat Farm and Baby Phat, which were sold to Kellwood Company in 2004. Continuing his commitment to aspirational and innovative brands Myorr is currently launching a set of urban fashion lines that cater to the mature hip-hop enthusiast. As a veteran of the fashion industry Myorr brings critical operational insight to the AIS team.         
			  </p>
		      </div><!--/span4-->
		    </div><!--/row-->
		  </div><!--/advisor-->
		
		<br>
		  <div><!--advisor-->
	        <div class="row">
		      <div class="span8"><h2>Tasha Lewis, PhD</h2></div>
		      <div class="span3">
		        <%= image_tag "advisors/tasha_lewis.png", :size => "320x240", :alt => "tasha_lewis" %>
			  </div>
		      <div class='span4 offset-2'>
		        <p><strong>Assistant Professor, Fiber Science & Apparel Design<br>
				Cornell University</strong><br><br>

				Tasha’s research involves the integration of consumer-facing technology into the fashion industry, including disruption in the apparel supply chain enabled by the use of technologies like 3D body scanning, social media, e-commerce and digital product configurators. Additional research interests include the global impact of fashion brands & apparel production, and issues related to social responsibility and sustainability. Tasha advises the team on technological developments in the retail space, and provides insight on industry trends and standards.  
				 </p>
		      </div><!--/span4-->
		    </div><!--/row-->
		  </div><!--/advisor-->
		
		  <br>
		  <div><!--advisor-->
	        <div class="row">
		      <div class="span8"><h2>Sankha Banerjee</h2></div>
		      <div class="span3">
		        <%= image_tag "advisors/sankha_banerjee.jpg",  :alt => "sankha_banerjee" %>
			  </div>
		      <div class='span4 offset-2'>
		        <p><strong>PhD Candidate, Mathematics<br>
				Massachusetts Institute of Technology</strong><br><br>

				Sankha Banarjee is a PhD candidate in Mathematics at the Massachusetts Institute of Technology. As a member of the Vortical Flow research lab Sankha focuses on the study of hydrodynamic flows, by theoretical analysis, numerical simulations, and experimental investigation. Sankha brings invaluable analytical insight to AIS’ proprietary processing of both physical and transaction-linked data. In addition to his research at MIT, Sankha is a research assistant within the Economics department at Harvard. 
				</p>
		      </div><!--/span4-->
		    </div><!--/row-->
		  </div><!--/advisor-->
		
		
		  <br>
		  <div><!--advisor-->
	        <div class="row">
		      <div class="span8"><h2>William Li</h2></div>
		      <div class="span3">
		        <%= image_tag "advisors/william_li.jpeg", :alt => "glen_farraye" %>
			  </div>
		      <div class='span4 offset-2'>
		        <p><strong>PhD Candidate, EECS<br>
				Massachusetts Institute of Technology</strong><br><br>

				William is a Ph.D. candidate in Electrical Engineering and Computer Science at the Massachusetts Institute of Technology. Within the CSAIL lab at MIT William is developing speech-based interfaces for wheelchair users with multiple sclerosis. In the past, he has led the Toronto chapter of Engineers without Borders, worked with Alstom Power and the Tetra Society of North America. William supports AIS as a technical expert, and long-time friend of the team. William currently holds a B.A.Sc in Engineering Science from the University of Toronto.</p>
		      </div><!--/span4-->
		    </div><!--/row-->
		  </div><!--/advisor-->
	
	    
	   </div>
	
	


      </div><!--/span8-->
    </div><!--/row-->
  </div><!--/content-->
</div> <!-- /container -->